
/*.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { color: #757575; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #607D8B; }
.divider-color         { border-color: #BDBDBD; }
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav li a{
  padding: 20px 15px;
  text-decoration: none;
  display: flex;
  color: ghostwhite;
  font-size: 22px;
  font-family: 'Oswald', serif;
}

nav li a:hover{
  background-color: #BDBDBD;
}
#sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 0.5s linear;
}
#sidebar.active{
  left: 0px;
}

#sidebar .toggle-btn{
  position: absolute;
  left: 220px;
  top: 30px;
  cursor: pointer;
}
#sidebar .toggle-btn span{
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 3px 0;

}

.main_title{
  width: 100vw;
  height: 10vh;
  color: #1976D2;
}
.mainTitle{
  text-align: center;
  width: 100%;
  height: 100%;
}

marquee{
  background: red;
  color: ghostwhite;
  font-family: 'Noto Sans', sans-serif;
  font-size 20px;
}

::placeholder{
  color: #1976D2;;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:50%;
  height:56.6%;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
  color: #1976D2;
  align-content: center;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:5px;
  top:5px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.subscribe-btn-submit{
  position:absolute;
  bottom: 2%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
  color: #607D8B;
}

button{
  position:absolute;
  bottom: -460px;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
  color: #607D8B;
}





.articletitle{
  font-size: 18px;
}

.articletitle a{
  text-decoration: none;
  color: #607D8B;
}

.article{
  padding-left: 30px;
  padding-bottom: 10px;
  display: inline-grid;
}

footer{
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  color: #BDBDBD;
  background-color: #1976D2;
  height: 25%;
}

footer a{
  text-decoration: none;
  color: black;
  display: flex;
    color: #BDBDBD;
    background-color: #1976D2;
    height: 25%;
}
form{
  align-items: center;
}
